@page
@model 			IndexModel

@{
    ViewData["Title"] = "Estate";
}

<h1>Estate</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<p>
    <a asp-page="/AdminPages/EstateCategories/Index">Categories</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estate[0].Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estate[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estate[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estate[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estate[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estate[0].Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estate[0].Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estate[0].Floor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estate[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estate[0].Coordinate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Estate) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company.CMND)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coordinate)
            </td>
            <td>
@*                <a asp-page="./Update" asp-route-id="@item.EstateId">Edit</a> |
*@                <a asp-page="./AuctionsManage/Index" asp-route-estateId="@item.EstateId">View Auctions</a> |
                <a asp-page="./Delete" asp-route-id="@item.EstateId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
