@page
@model RazorAucionWebapp.Pages.CustomerPages.Profile.DetailModel

@{
    ViewData["Title"] = "Detail";
}
@if (TempData["Success"] is not null)
{
    <div class="border border-2 m-3 p-3 text-success">
        @TempData["Success"]
    </div>
}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">Customer account</li>
            <li class="breadcrumb-item"><a href="#">Profile</a></li>
        </ol>
    </nav>
    <div class="detailBtn">
        <a asp-page="../Transactions/Create">Fill your wallet</a>
        <a asp-page="./Update"><i class="fa-solid fa-pen-to-square"></i> Edit Profile</a>
    </div>
    <div class="profile_wrapper">
        <div class="row">
            <div class="col-md-3">
                <div class="left_profile">
                    <img class="rounded-circle" src=@Url.Content(Model.Avatar) height="40" width="40" />
                    <span class="fw-bold">User #@Model.Account.AccountId</span>
                </div>
            </div>
            <div class="col-md-9">
                <div class="right_profile">
                    <h5>User information</h5>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="info_text"><span>Full name</span>@Model.Account.FullName</div>
                        </div>
                        <div class="col-md-6">
                            <div class="info_text"><span>Phone</span>@Model.Account.Telephone</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="info_text"><span>Email</span>@Model.Account.Email</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="info_text"><span>Birthday</span> @Model.Account.Dob</div>
                        </div>
                        <div class="col-md-6">
                            <div class="info_text"><span>Citizen ID</span>@Model.Account.CMND</div>
                        </div>
                    </div>
                    <div>
                        <h6>Account</h6>
                        <hr />
                        <div class="row">
                            <div class="col-md-8">
                                Status:
                                @if (Model.Account.Status.ToString() == "PENDING")
                                {
                                    <p class="account_status_pending">@Model.Account.Status.ToString()</p>
                                }
                                else if (Model.Account.Status.ToString() == "ACTIVED")
                                {
                                    <p class="account_status_active">@Model.Account.Status.ToString()</p>

                                }
                                else
                                {
                                    <p class="account_status_deactivate">Status:@Model.Account.Status.ToString()</p>
                                }
                            </div>
                            <div class="col-md-4">
                                <p>Balance: <span class="fw-bold">$ @Model.Account.Balance</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

