@page
@model RazorAucionWebapp.Pages.CustomerPages.Profile.DetailModel

@{
	ViewData["Title"] = "Detail";
}

<h1>Detail</h1>
@if(TempData["Success"] is not null)
{
	<div class="border border-2 m-3 p-3 text-success">
		@TempData["Success"]
	</div>
}
<div class="border border-2 m-3 p-3">
	<h4>Account (<span class="text-info fw-bolder">
			@Enum.GetName(typeof(Repository.Database.Model.Enum.Role), Model.Account.Role)
		</span>)</h4>
	<hr />
	<div>
		<p>Email: @Model.Account.Email</p>
		<p>Fullname: @Model.Account.FullName</p>
		@if(Model.Account.Role != Repository.Database.Model.Enum.Role.COMPANY){
			<p>CMND: @Model.Account.CMND</p>
		}
		<p>DOB: @Model.Account.Dob.ToShortDateString()</p>
		<p>Status:
		@if(Model.Account.Status == Repository.Database.Model.Enum.AccountStatus.ACTIVED)
		{
			<span class="text-success">ACTIVE</span>
		}
		else if (Model.Account.Status == Repository.Database.Model.Enum.AccountStatus.PENDING)
		{
			<span class="text-secondary">PENDING</span>
		}
		else
		{
			<span class="text-danger">DEACTIVATED</span>
		}
		</p>
		<p>Balance in account: @Model.Account.Balance</p>
	</div>
</div>
<div class="border border-2 m-3 p-3">
	<a asp-page="../ViewAuction" class="btn btn-primary">Previous Auction Joined</a> |
	<a asp-page="../Transactions/Create" class="btn btn-primary">Fill Your Waller (transaction) </a>
	<a asp-page="./Update" class="btn btn-primary">Edit</a> |
	<a asp-page="../../Index" class="btn btn-primary">Back to view</a>
</div>
