@page "{handler?}"
@model RazorAucionWebapp.Pages.Vnpay.ReturnModel
@{
}
<div class="text-danger" asp-validation-summary="ModelOnly">
</div>

@{
	var messageTeestReesult = ViewBag.SuccessTransactionTest;
	if (messageTeestReesult is not null)
	{
		<div>
			<p class="text-success">@messageTeestReesult</p>
		</div>
	}
	var result = Model.VnpayResult;
	if (result is not null)
	{
		<div>
			<p>is success	 : @result.Success</p>
			<p>Message		 : @result.Message</p>
			<p>order id		 : @result.Vnp_TxnRef</p>
			<p>transaction no: @result.TransactionNo</p>
			<p>transac stat  : @result.TransactionStatus</p>
			<p>status code	 : @result.StatusCode</p>
			<p>amoun		 : @result.Amount</p>
			<p>bank code	 : @result.BankCode</p>
		</div>
	}
}