@page
@model RazorAucionWebapp.Pages.CompanyPages.EstateMng.DetailModel

@{
	ViewData["Title"] = "Detail";
}

<div class="container">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">Home</li>
			<li class="breadcrumb-item">Company account</li>
			<li class="breadcrumb-item">My estates</li>
			<li class="breadcrumb-item"><a href="#">Estate detail</a></li>
		</ol>
	</nav>
</div>

<div class="row detail_wrapper">
	<div class="col-md-6 estate_info_wrapper">
		<h1 class="text-uppercase fw-bold">@Model.Estate.Name</h1>
		@if (Model.Estate.EstateCategory is not null && Model.Estate.EstateCategory.Count > 0)
		{
			foreach (var categoryDetail in Model.Estate.EstateCategory)
			{
				<div class="es_cate">@categoryDetail.CategoryDetail.CategoryName</div>
			}
		}
		else
		{
			<p class="text-danger">No Category, something wrong</p>
		}
		<p>Owned by <span class="fst-italic text-secondary">@Model.Estate.Company.CompanyName</span> company</p>
		<div class="d-flex justify-content-start house_info">
			<span title="estate width"><i class="fa-solid fa-ruler-vertical"></i> @Model.Estate.Width m</span>
			<span title="estate length"><i class="fa-solid fa-ruler-horizontal"></i> @Model.Estate.Length m</span>
			<span title="total area"><i class="fa-solid fa-chart-area"></i> @Model.Estate.Area m²</span>
			<span title="number of floor"><i class="fa-solid fa-layer-group"></i> @Model.Estate.Floor</span>
		</div>
		<div class="fw-bold my-3">
			<span class=""><i class="fa-solid fa-location-dot"></i> @Model.Estate.Location</span><br>
		</div>
		<hr />
		<p class="p-0 m-0 fw-bold text-secondary">Description</p>
		<p>@Model.Estate.Description</p>
		<div class="es_status">
			@if (Model.Estate.Status.ToString() == "CREATED")
			{
				<span class="status_available">available</span>
			}
			else if (Model.Estate.Status.ToString() == "FINISHED")
			{
				<span class="status_sold">sold</span>
			}
			else
			{
				<span class="status_unavailable">unavailable</span>
			}
		</div>
	</div>
	<div class="col-md-6 estate_img_wrapper">
		<div class="row">
			@if (Model.Images.Count > 0)
			{
				var firstImg = Model.Images[0];
				<img src=@Url.Content(firstImg) class="d-block main_img" />
				<div class="d-flex justify-content-center align-items-center sub_img_wrapper">
					@foreach (var Image in Model.Images)
					{
						<img src=@Url.Content(Image) width="80" height="80" class="sub_img" />
					}
				</div>
			}
			else
			{
				<img src="https://i.ibb.co/pnxpB5w/digital-marketing-agency-ntwrk-g39p1k-Djv-SY-unsplash.jpg" class="d-block main_img" />
			}
		</div>


	</div>
</div>
<div class="container mt-5">
	<div class="d-flex justify-content-between">
		<h4>Estate auctions</h4>

		<div class="create_btn">
			<a asp-page="../AuctionMng/CreateAuction" asp-route-estateId="@Model.Estate.EstateId">Create Auction</a>
		</div>
	</div>

	@if (Model.Estate.Auctions is not null && Model.Estate.Auctions.Count > 0)
	{
		<div class="auctions_wrapper">
			<table class="auctions_table">
				<tr>
					<th>#</th>
					<th>Register Date</th>
					<th>Duration</th>
					<th>Wanted Price</th>
					<th>Status</th>
					<th>Jump price</th>
					<th>Highest Bid</th>
					<th></th>
				</tr>
				@foreach (var auc in Model.Estate.Auctions)
				{
					<tr>
						<td>@auc.AuctionId</td>
						<td>@auc.RegistrationDate.ToString("dd/MM/yyy")</td>
						<td>@auc.StartDate.ToString("dd/MM/yyy") - @auc.EndDate.Date.ToString("dd/MM/yyy")</td>
						<td>@auc.WantedPrice</td>
						<td>@auc.Status</td>
						<td>@auc.IncrementPrice</td>
						@{
							decimal currentBid = 0;
							if (auc.Bids is not null && auc.Bids.Count > 0)
							{
								currentBid = auc.Bids.Last().Amount;
							}
						}
						<td>$@currentBid</td>
						<td class="detailBtn">
							<a href="/CompanyPages/AuctionMng/Detail?id=@auc.AuctionId">
								Detail
							</a>
						</td>
					</tr>
				}
			</table>
		</div>
	}
	else
	{
		<div class="empty_list">
			<img src="https://i.ibb.co/8XVtHxg/empty-project.png" />
			<p>Estate has no auctions</p>
		</div>
	}
	

	<div class="back_btn">
		<a asp-page="./Index"><i class="fa-solid fa-arrow-left"></i> Back to List</a>
	</div>
</div>
<script>
	$('.sub_img').click(function () {
		$('.main_img').attr('src', $(this).attr('src'))
	})

	const connection = new signalR.HubConnectionBuilder()
		.withAutomaticReconnect()
		.withUrl("/auctionrealtime")
		.build();

	connection.start()
		.then((result) => {
			console.log(result);
		})
		.catch((error) => {
			console.error(error);
		});

	connection.on("UpdateLatestBidAmount", () => {
		location.reload();
	});

	connection.on("UpdateAuctionStatus", () => {
		location.reload();
	})

</script>
