@page
@model IndexModel

@{
	ViewData["Title"] = "Index";
}
<style>
	.container {
		background-color: #f8f9fa;
		border: 1px solid #dee2e6;
		border-radius: 8px;
		padding: 20px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}

		.container h1 {
			margin-bottom: 20px;
		}

		.container a {
			color: #007bff;
			text-decoration: none;
			margin-right: 10px;
		}

			.container a:hover {
				text-decoration: underline;
			}

		.container table {
			width: 100%;
		}

		.container th {
			background-color: #343a40;
			color: #ffffff;
		}

		.container td, .container th {
			padding: 12px;
			text-align: left;
			border: 1px solid #dee2e6;
		}

		.container tbody tr:nth-child(even) {
			background-color: #f2f2f2;
		}
</style>

<div class="container">
	<div style="text-align: center">
		<h1>Transaction Management</h1>
	</div>


	<p>
		<a class="btn btn-info" style="color: white" asp-page="./Create" asp-route-accountId="@ViewBag.accountId">Add Balance to this account!</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Transactions[0].Account)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Transactions[0].Status)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Transactions[0].vnp_TxnRef)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Transactions[0].vnp_Amount)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Transactions[0].vnp_TransactionDate)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Transactions[0].vnp_OrderInfo)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Transactions[0].vnp_PayDate)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Transactions)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Account.CMND)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Status)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.vnp_TxnRef)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.vnp_Amount)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.vnp_TransactionDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.vnp_OrderInfo)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.vnp_PayDate)
					</td>
					<td>
						<a class="btn btn-primary disabled" asp-page="./Edit" asp-route-id="@item.TransactionId">Refund</a>
						@* 					<a class="btn btn-primary disabled" asp-page="./Details" asp-route-id="@item.TransactionId">Details</a> |
					<a class="btn btn-primary disabled" asp-page="./Delete" asp-route-id="@item.TransactionId">Delete</a> *@
					</td>
				</tr>
			}
		</tbody>
	</table>


</div>



