@page
@model RazorAucionWebapp.Pages.AdminPages.Accounts.Transactions.RefundModel

@{
    ViewData["Title"] = "Refund";
}

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-container {
        max-width: 800px;
        margin: auto;
        padding: 20px;
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .delete-btn {
        margin-right: 10px;
    }
</style>

<div class="container">
    <div class="form-container">
        <h1>Refund</h1>

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Transaction</h4>
            <hr />
            <dl class="row">

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Transaction.Status)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Transaction.Status)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Transaction.vnp_TxnRef)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Transaction.vnp_TxnRef)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Transaction.vnp_Amount)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Transaction.vnp_Amount)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Transaction.vnp_TransactionDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Transaction.vnp_TransactionDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Transaction.vnp_OrderInfo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Transaction.vnp_OrderInfo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Transaction.vnp_PayDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Transaction.vnp_PayDate)
                </dd>
            </dl>

            <form method="post">
                <input type="hidden" asp-for="Transaction.TransactionId" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-page="./Index">Back to List</a>
            </form>
        </div>
    </div>
</div>

