@page
@model RazorAucionWebapp.Pages.AdminPages.Companies.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Companies[0].CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Companies[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Companies[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Companies[0].EstablishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Companies[0].DateStartOnPlatform)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Companies) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstablishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateStartOnPlatform)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AccountId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AccountId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AccountId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
