@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    var result = TempData.TryGetValue("SuccessSignUp", out var message);
    if (result)
    {
        <div class="text-center">
            <p class="text-success"> @message</p>
        </div>
    }
    else if (result = TempData.TryGetValue("SuccessLogin", out message))
    {
        <div class="text-center">
            <p class="text-success"> @message</p>
        </div>
    }
}
<div class="carousel mb-5" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="./PublicImages/general/estate_banner.jpg" alt="banner">
        </div>
    </div>

    <h1>
        <span>Real Estate</span><br />
        <span>Auction Page</span>
    </h1>
</div>

<div class="container mt-5">
    <h3 class="sectionTxt text-center">BROWSE AUCTIONS</h3>
    @if (Model.Auctions.Count != 0)
    {
        <div class="row m-5">
            @foreach (var auc in Model.Auctions)
            {
                float area = auc.Estate.Length * auc.Estate.Width;
                int remainDays = (auc.EndDate - auc.StartDate).Days;
                <div class="col-md-4">
                    <form method="post">
                        <div class="rounded">
                            <div class="rounded-top estate_img"></div>
                            <div class="company-and-estate-data mt-4 px-4">
                                <h5 class="text-uppercase" style="font-weight: bold;">@auc.Estate.Name</h5>
                                <div class="d-flex align-items-center my-2">
                                    @foreach (var cate in auc.Estate.EstateCategory)
                                    {
                                        <div class="cate">
                                            <span>@cate.CategoryDetail.CategoryName</span>
                                        </div>
                                    }
                                </div>
                                <div class="img_info d-flex flex-row align-items-center justify-content-between" style="padding-right: 1rem;">
                                    <div>
                                        <img src="https://i.ibb.co/64H3WR3/clock.png"><span>@remainDays days left</span>
                                    </div>
                                    <div>
                                        <img src="https://i.ibb.co/4jNgVvY/user.png"><span>@auc.MaxParticipant</span>
                                    </div>
                                    <div>
                                        <img src="https://i.ibb.co/W2JWQs2/area-1.png"><span>@area m²</span>
                                    </div>
                                </div>
                                <div class="currentBid">
                                    <span>Current Bid:  </span><span style="font-weight: bold;">$9000</span>
                                </div>
                                <div class="detailBtn">
                                    <a asp-page="./CustomerPages/DetailAuction" asp-route-id="@auc.AuctionId">See detail</a>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            }
        </div>
    }
    else
    {
        <div class="h1 fw-bolder">No available auction at the moment</div>
    }
</div>

