@page
@model RazorAucionWebapp.Pages.MailBoxModel
@Html.AntiForgeryToken()
@{
}
<div class="container-fluid justify-content-center">Mail Box</div>
<div class="ps-3 table-responsive">
    <table class="table email-table no-wrap table-hover v-middle  mb-0 font-14">
        <tbody>
            @if (Model.Notifications.Count != 0)
            {
                foreach (var notification in Model.Notifications)
                {
                    <tr noti-id="@notification.NotificationId" class="@(notification.IsChecked ? "" : "unchecked")">
                        <td>
                            <span class="mb-0 text-muted">
                                @if (HttpContext.User.FindFirst(ClaimTypes.Role)?.Value == "COMPANY")
                                {
                                    @notification.Account.Email
                                }
                                else
                                {
                                    @notification.Company.Email
                                }
                            </span>
                        </td>
                        <td>
                            <span class="text-dark">@notification.Message</span>
                        </td>
                        <td class="text-muted font-light text-end">@notification.CreatedDate</td>
                    </tr>
                }
            }
            else
            {            
                @for(int i = 0; i < 5; i++)
                {
                    <tr noti-id="@i" class="@(false ? "" : "unchecked")">
                        <td>
                            <span class="mb-0 text-muted">
                                Customer@gmail.com
                            </span>
                        </td>
                        <td>
                            <span class="text-dark text-end">this is a test</span>
                        </td>
                        <td class="text-muted font-light text-end">@DateTime.Now.Date.ToString("D")</td>
                    </tr>
                }
                <div class="fw-bolder">No mail found!</div>
            }
        </tbody>
    </table>
</div>

<script>
    $().ready(function(){
        $(".unchecked").on('click', function () {
            const selected = this
            console.log(this)
            var nId = parseInt(selected.getAttribute("noti-id"))
            console.log(nId)
            $.ajax({
                type: "GET",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                url: "/MailBox?handler=Checked",
                async: true,
                dataType: 'JSON',
                data: { nId: nId },
                contentType: "application/json",
                success: function (res) {
                    console.log(`changed`)
                    $(selected).toggleClass('unchecked')
                },
                failure: function (err) {
                    console.error(err)
                }
            })
        })
    })
</script>