@page
@model RazorAucionWebapp.Pages.CompanyPages.AuctionMng.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Auction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.RegistrationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.RegistrationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.EndPayDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.EndPayDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.EntranceFee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.EntranceFee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.WantedPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.WantedPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.IncrementPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.IncrementPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.MaxParticipant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.MaxParticipant)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.Status)
        </dd>
        <div>
            <div>Status is: @Model.Auction.Status</div>
            @{
                if (Model.Auction.Status.Equals(Repository.Database.Model.Enum.AuctionStatus.CANCELLED))
                {
                    <div class="text-danger">You have alreay cancelled this auction, no more action is required</div>
                }
                else if (Model.Auction.Status.Equals(Repository.Database.Model.Enum.AuctionStatus.SUCCESS))
                {
                    <div class="text-danger">CANNOT DELETE, THIS AUCTION IS FINISHED</div>
                }
                else if (Model.Auction.Status.Equals(Repository.Database.Model.Enum.AuctionStatus.PENDING_PAYMENT))
                {
                    <div class="text-danger">This auction is being paid by someone, please consult him/her before delete</div>
                }
                else if (Model.Auction.Status.Equals(Repository.Database.Model.Enum.AuctionStatus.ONGOING))
                {
                    <div class="text-danger">This auction is on going by bidder, end this will result in your repuational damage</div>
                }
                else if (Model.Auction.Status.Equals(Repository.Database.Model.Enum.AuctionStatus.FAILED_TO_PAY))
                {
                    <div class="text-danger">This auction is failed due to user cannot pay in time, are you sure u want to stop or wait for the buyer </div>
                }
                else
                {
                    <div class="text-danger">are you sure want to stop this auction, it hasn't begun yet</div>
                }
            }
            <form method="post">
                <input type="hidden" asp-for="AuctionId" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-page="./Index">Back to List</a>
            </form>
        </div>

    </dl>
</div>
