@page
@model RazorAucionWebapp.Pages.CompanyPages.AuctionMng.IndexModel

@{
	ViewData["Title"] = "Index";
}

<div class="container">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">Home</li>
			<li class="breadcrumb-item">Company account</li>
			<li class="breadcrumb-item"><a href="#">My Auctions</a></li>
		</ol>
	</nav>
	@if (Model.Auctions is not null && Model.Auctions.Count > 0)
	{
		<div class="auctions_wrapper">
			<table class="auctions_table">
				<tr>
					<th>#</th>
					<th>Register Date</th>
					<th>Duration</th>
					<th>Wanted Price</th>
					<th>Status</th>
					<th>Jump price</th>
					<th>Current Bid</th>
					<th></th>
				</tr>
				@foreach (var auc in Model.Auctions)
				{
					<tr>
						<td>@auc.AuctionId</td>
						<td>@auc.RegistrationDate.ToString("dd/MM/yyy")</td>
						<td>@auc.StartDate.ToString("dd/MM/yyy") - @auc.EndDate.Date.ToString("dd/MM/yyy")</td>
						<td>@auc.WantedPrice</td>
						<td>@auc.Status</td>
						<td>@auc.IncrementPrice</td>
						<td>$ 999</td>
						<td class="detailBtn">
							<a href="/CompanyPages/AuctionMng/Detail?id=@auc.AuctionId">
								Detail
							</a>
						</td>
					</tr>
				}
			</table>
		</div>
	}
	else
	{
		<div class="empty_list">
			<img src="https://i.ibb.co/8XVtHxg/empty-project.png" />
			<p>Estate has no auctions</p>
		</div>
	}
</div>
