@page
@model RazorAucionWebapp.Pages.AdminPages.EstatesManage.AuctionsManage.IndexModel

@{
    ViewData["Title"] = "Index";
}
<style>
    .table-striped td {
        border-right: 1px solid black;
    }

    .table-striped th:last-child,
    .table-striped td:last-child {
        border-right: 1px white;
    }
    .table-striped th,
    .table-striped td {
        text-align: center;
    }
</style>
<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header bg-dark text-white">Manage Auctions</h5>
                <div class="card-body">
                    <p class="text-right">
                        <a asp-page="Create" class="btn btn-primary">Create New Auction</a>
                    </p>
                    <div class="table-responsive" style="width: 100%">
                        <table class="table table-striped" style="width: 100%;">
                            <thead class="thead-dark bg-dark text-white">
                                <tr>
                                    <th scope="col">Auction ID</th>
                                    <th scope="col">Estate Coordinate</th>
                                    <th scope="col">Registration Date</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">End Date</th>
                                    <th scope="col">End Pay Date</th>
                                    <th scope="col">Entrance Fee</th>
                                    <th scope="col">Wanted Price</th>
                                    <th scope="col">Increment Price</th>
                                    <th scope="col">Max Participants</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Receipt ID</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Auctions)
                                {
                                            <tr>
                                                <td>@item.AuctionId</td>
                                                <td>@(item.Estate != null ? item.Estate.Coordinate : "N/A")</td>
                                                <td>@item.RegistrationDate.ToShortDateString()</td>
                                                <td>@item.StartDate.ToShortDateString()</td>
                                                <td>@item.EndDate.ToShortDateString()</td>
                                                <td>@item.EndPayDate.ToShortDateString()</td>
                                                <td>@item.EntranceFee</td>
                                                <td>@item.WantedPrice</td>
                                                <td>@item.IncrementPrice</td>
                                                <td>@item.MaxParticipant</td>
                                                <td>@item.Status</td>
                                                <td>@item.ReceiptId</td>
                                                <td>
                                                    <div class="btn-group" role="group" aria-label="Actions">
                                                        <a asp-page="./Details" asp-route-id="@item.AuctionId" class="btn btn-info">Details</a>
                                                        <a asp-page="./Delete" asp-route-id="@item.AuctionId" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this auction?')">Delete</a>
                                                    </div>
                                                </td>
                                            </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
