@page
@model RazorAucionWebapp.Pages.AdminPages.EstatesManage.AuctionsManage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<style>
    .container {
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        .container h1 {
            margin-bottom: 20px;
        }

        .container a {
            color: #007bff;
            text-decoration: none;
            margin-right: 10px;
        }

            .container a:hover {
                text-decoration: underline;
            }

        .container table {
            width: 100%;
        }

        .container th {
            background-color: #343a40;
            color: #ffffff;
        }

        .container td, .container th {
            padding: 12px;
            text-align: left;
            border: 1px solid #dee2e6;
        }

        .container tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

    .btn-primary {
        color: white;
    }
 </style>

<div class="container">
        <div style="text-align: center">
            <h1>View Estate Auction</h1>
        </div>
        <p>
            <a style="color: white" asp-page="Create" class="btn btn-primary">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Estate Coordinate</th>
                    <th>Registration Date</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>End Pay Date</th>
                    <th>Entrance Fee</th>
                    <th>Wanted Price</th>
                    <th>Increment Price</th>
                    <th>Max Participant</th>
                    <th>Status</th>
                    <th>Receipt ID</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Auctions)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Estate.Coordinate)</td>
                        <td>@Html.DisplayFor(modelItem => item.RegistrationDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.EndPayDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.EntranceFee)</td>
                        <td>@Html.DisplayFor(modelItem => item.WantedPrice)</td>
                        <td>@Html.DisplayFor(modelItem => item.IncrementPrice)</td>
                        <td>@Html.DisplayFor(modelItem => item.MaxParticipant)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        <td>@Html.DisplayFor(modelItem => item.ReceiptId)</td>
                        <td class="action-links">
                        <a class="btn btn-info" style="color: white" asp-page="./Delete" asp-route-id="@item.AuctionId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>
