@page
@model RazorAucionWebapp.Pages.CompanyPages.AuctionMng.Receipts.DetailModel

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div class="AuctionReceipt">
    <h4>AuctionReceipt</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuctionReceipt.Auction.AuctionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuctionReceipt.Auction.AuctionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuctionReceipt.Auction.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuctionReceipt.Auction.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuctionReceipt.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuctionReceipt.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuctionReceipt.RemainAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuctionReceipt.RemainAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuctionReceipt.Commission)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuctionReceipt.Commission)
        </dd>
    </dl>
</div>
<div class="Payments">
    @{
        foreach(var transaction in Model.TransactionsForReceipt)
        {
            <div class="col-md-4">
                <p>username: @transaction.Account?.FullName</p>
                <p>email: @transaction.Account?.Email</p>
                <p>Amount: @transaction.PayAmount</p>
                <p>Pay Time: @transaction.PayTime</p>
            </div>
        }
    }
</div>
<div>
    @*<a asp-page="./Edit" asp-route-id="@Model.AuctionReceipt?.ReceiptId">Edit</a> |*@
    <a asp-page="../Index">Back to List</a>
</div>
