@page
@model RazorAucionWebapp.Pages.CustomerPages.BidAuctionModel

@{
    ViewData["Title"] = "BidAuction";
}

<div class="container">
    <h4>Auction Detail</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.Estate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.Estate.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.RegistrationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.RegistrationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.WantedPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.WantedPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.IncrementPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.IncrementPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.MaxParticipant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.MaxParticipant)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.Status)
        </dd>
    </dl>

    <h4>Bidding</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="Bid.Amount" class="control-label"></label>
                    <input asp-for="Bid.Amount" class="form-control" />
                    <span asp-validation-for="Bid.Amount" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Bid.Time" class="control-label"></label>
                    <input asp-for="Bid.Time" class="form-control" disabled value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss.fffffff")" />
                    <span asp-validation-for="Bid.Time" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Place Bid" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>


@* <div>
    <a asp-page="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
