@page
@model RazorAucionWebapp.Pages.CustomerPages.ViewAuctionListModel
@using Repository.Database.Model.Enum;

@{
    ViewData["Title"] = "My Auction List";
}

<style>
    .table-header {
        background-color: #000; /* Black background */
        color: #fff; /* White text */
    }
</style>
<div class="container">
    <h1 class="text-center mt-5 mb-4">@ViewData["Title"]</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-header">
                <tr>
                    <th>Registration Date</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Wanted Price</th>
                    <th>Increment Price</th>
                    <th>Max Participants</th>
                    <th>Status</th>
                    <th>Action</th>
                    <th>Remain amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.JoinedAuctions)
                {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.RegistrationDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.WantedPrice)</td>
                                <td>@Html.DisplayFor(modelItem => item.IncrementPrice)</td>
                                <td>@Html.DisplayFor(modelItem => item.MaxParticipant)</td>
                                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                <td>
                                    <a asp-page="./DetailAuction" asp-route-id="@item.AuctionId" class="btn btn-primary">Detail</a>
                            @if (item.AuctionReceipt is not null && item.Status.Equals(AuctionStatus.PENDING_PAYMENT))
                            {
                                if(item.AuctionReceipt.BuyerId == Model.UserId)
                                {
                                    <a asp-page="./ReceiptPayment/Index" asp-route-auctionId="@item.AuctionId" class="btn btn-success">See Your Transaction</a>
                                }
                            }
                                </td>
                                <td>
                                    <span>@(item.AuctionReceipt is not null ? item.AuctionReceipt.RemainAmount : "None")</span>
                                </td>
                            </tr>
                }
            </tbody>
        </table>
    </div>
</div>
